<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>login</title>
    <link rel="stylesheet" href="../../css/alterarSenha.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="py-5"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p class="title">ALTERAR SENHA</p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="login-container">
                        <form id="login">
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <h5>Senha Atual</h5>
                                    <input type="password" id="input" class="input">
                                </div>
                            </div>
                            <div class="input-div two">
                                <div class="i">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <h5>Nova Senha</h5>
                                    <input type="password" id="input" class="input">
                                </div>
                            </div>
                            <div class="input-div two">
                                <div class="i">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <h5>Confirmar Senha</h5>
                                    <input type="password" id="input" class="input">
                                </div>
                            </div>
                            <button type="submit" class="btn" id="salvar">Salvar</button>
                            <a href="./perfil.html" class="cadastrar">Voltar</a></p>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
              </div>
          </div>
    </main>

    <!--Scripts externos-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Scripts do projeto-->
    <script src="../../js/pages/alterarSenha.js"></script>
    <script src="../../../Controllers/usuarioController.js"></script>
    <script src="../../../Models/Usuario.js"></script>
    
</body>
</html>