*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dedede;
}

.row{
    height: 100vh;
}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}