*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
height: 100vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

header {
width: 250px;
background-color: #565387;
animation: move 0.3s;
}

header .perfil{
width: 100%;
padding: 20px;
background-color: #434175;
}

header .perfil img{
width: 80px;
}

div#conteudo {
width: 85vw;
}

nav#nav{
text-transform: uppercase;
}

div.dropdown-menu{
background-color: #565387;
}

nav#nav ul li a{
color: #fff;
}

nav#nav2{
width: 100%;
background: #f7f7f7;
border-bottom: solid 2px #b5b5b5;
}

header div img{
margin-left: 10px;
}

nav .nav-link{
color: #001D38;
text-decoration: none;
font-size: 1em;
font-family: 'Poppins', sans-serif;
font-weight: 500;
transition: 0.2s;
}

nav .nav-link:hover{
filter: brightness(70%);
}

div.menu {
padding: 20px;
}

div#conteudo{
background: #ededed;
}

.login-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
}
  
form#perfil{
    padding: 40px;
    width: 360px;
    border-radius: 10px;
    background-color: #fff;
    animation-name: fade;
    animation-duration: 0.5s;
}

form#perfil.validate-error {
    animation: nono 200ms, fade paused;
    animation-iteration-count: 2;
}

form#perfil h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #6c63ff;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
    transition: .3s;
}

.input-div:after, .input-div:before{
    color: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #6c63ff;
    transition: .3s;
}

.input-div:after{
    right: 50%;
}

.input-div:before{
    left: 50%;
}

.input-div.focus{
    border-bottom: 2px solid #6c63ff;
}

.input-div.focus .i i{
    color: #6c63ff;
    transition: .3s;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before{
    width: 50%;
}

.input-div.one{
    margin-top: 0;
}

.input-div.two{
    margin-bottom: 4px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    color: #d9d9d9;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

a.esqueceu-senha{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

p{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
}

#cadastrar{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6c63ff, #5c55d4, #6c63ff);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
    text-align: center;
}

#alterar{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6c63ff, #5c55d4, #6c63ff);
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn:hover{
    background-position: right;
}

.btn-confirmar{
    display: block;
    width: 40%;
    height: 50px;
    margin-right: 5%;
    border-radius: 25px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6c63ff, #5c55d4, #6c63ff);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn-confirmar:hover{
    background-position: right;
}
.btn-cancelar{
    display: block;
    width: 40%;
    height: 50px;
    margin-right: 5%;
    border-radius: 25px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6c63ff, #5c55d4, #6c63ff);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn-cancelar:hover{
    background-position: right;
}

.table-personalizada{
    background-image: linear-gradient(to right, #6c63ff, #5c55d4, #6c63ff);
}

tbody{
    background-color: #fff;
}

@keyframes move{
    from{
        opacity: 1;
        transform: translate(-35%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade{
    from {
        opacity: 0;
        transform: scale(0.9);
    } 
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes nono{
    0% {
        transform: translateX(0);
    }
    35%{
        transform: translateX(-5%);
    }
    70%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}