*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header {
  width: 250px;
  background-color: #565387;
  animation: move .3s;
}

header .perfil{
  width: 100%;
  padding: 20px;
  background-color: #434175;
}

header .perfil img{
  margin-left: 10px;
  width: 80px;
}

div#conteudo {
  width: 85vw;
}

nav#nav{
  text-transform: uppercase;
}

div.dropdown-menu{
  background-color: #565387;
}

nav#nav ul li a{
  color: #fff;
}

nav#nav2{
  width: 100%;
  background: #f7f7f7;
  border-bottom: solid 2px #b5b5b5;
}

nav .nav-link{
  color: #001D38;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.2s;
}

nav .nav-link:hover{
  filter: brightness(70%);
}

div.menu {
  padding: 20px;
}

div#conteudo{
  background: #ededed;
}

div.card{
  animation: fade 0.5s;
}

@keyframes move{
  from{
      opacity: 1;
      transform: translate(-35%);
  }
  to{
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes fade{
  from {
      opacity: 0;
      transform: scale(0.9);
  } 
  to {
      opacity: 1;
      transform: scale(1);
  }
}