<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Financeiro</title>
    <link rel="stylesheet" href="../css/cadastro.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form id="login">
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div>
                        <h5>Nome</h5>
                        <input type="text" id="input" class="input" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input type="email" id="input" class="input" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        <h5>Senha</h5>
                        <input type="password" id="input" class="input" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div>
                        <h5>Telefone</h5>
                        <input type="text" id="tel" class="input" required>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fa fa-home"></i>
                    </div>
                    <div>
                        <h5>Endereço</h5>
                        <input type="text" id="input" class="input" required>
                    </div>
                </div>
                <button type="submit" class="btn" id="login">Cadastrar</button>
                <p>Voltar para <a href="./index.html" class="cadastrar">Login.</a></p>
            </form>
        </div>
        <div class="img">
            <img src="../assets/undraw_going_up_ttm5.svg" alt="img">
        </div>
    </div>

    <!--Scripts externos-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Scripts do projeto-->
    <script src="../../Controllers/utils/verificacoes.js"></script>
    <script src="../js/cadastro.js"></script>
    <script src="../../Controllers/usuarioController.js"></script>
    <script src="../../Models/Usuario.js"></script>
</body>
</html>